@using Microsoft.Extensions.Options
@inject IOptions<ApplicationConfigurations> FooterMessage
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<environment names="development">
		<link rel="stylesheet"
		      asp-href-include="~/css/bootstrap.min.css"/>
		<link rel="stylesheet" 
		      asp-href-include="~/css/_LayoutStyle.css"/>
		<script asp-src-include="/lib/bootstrap/dist/**/*.js"
				asp-src-exclude="**.min.**,**.slim.**"
				asp-append-version="true"></script>
		<script asp-src-include="/lib/jquery/dist/**/j*.js"
				asp-src-exclude="**.min.**,**.slim.**"
				asp-append-version="true"></script>
		<script asp-src-include="js/LayoutScripts.js"
				asp-append-version="true"></script>
	</environment>
	<environment names="production, staging">
		<script asp-src-include="/lib/bootstrap/dist/**/*.min.js"
		        asp-src-exclude="**.slim.**"
		        asp-append-version="true"></script>
		<script asp-src-include="/lib/jquery/dist/**/*.min.js"
		        asp-src-exclude="**.slim.**"
		        asp-append-version="true"></script>
		<script asp-src-include="js/LayoutScripts.js"
		        asp-append-version="true"></script>
	</environment>
	<script language="javascript" type="text/javascript">
		function filter(element) {
			var value = $(element).val().toLowerCase();

			$("#bodyOfTheList > tr").each(function() {
				if ($(this).text().toLowerCase().search(value) > -1) {
					$(this).show();
				}
				else {
					$(this).hide();
				}
			});
		}
	</script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Full List", "List", "ToDo", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Create new ToDo", "New", "ToDo")</li>
				<li>@Html.ActionLink("ClientCached", "ClientCached", "ToDo")</li>
				<li>@Html.ActionLink("ServerCached", "ServerCached", "MemoryCache")</li>
				@if (ViewContext.RouteData.Values["action"] == "List")
				{
					<form class="navbar-form navbar-left">
						<div class="input-group">
							<input type="text" class="form-control" onkeyup="filter(this)" placeholder="Search">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				}
			</ul>
			<button class="btn btn-info" id="changeDayNightModeBtn">Day \ Night</button>
		</div>
	</div>
</div>
<div class="container body-content">
	<p>
		<br/>
		<br/>
		@RenderBody()
	</p>
		<hr/>
	<footer>
		<p>&copy; @DateTime.Now.Year - @FooterMessage.Value.FooterMessage</p>
	</footer>
</div>

@RenderSection("scripts", required: false)
</body>
</html>