@model System.Collections.Generic.List<ToDoNetCore.Models.ToDoModel>

@{
	Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width-device-width"/>
	<title>.NET Core MVC - Main</title>
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/bootstrap-theme.min.css" />
</head>

<script type="text/javascript">
	var isToDoCreated = '@TempData["ToDoIsCreated"]';
	if (isToDoCreated) {
		alert("ToDo Sucesfully created!");
	}
</script>

<body>
<table class="table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th scope="row">
			@foreach (var todo in Model)
			{
				<p>@todo.ShortName</p>
			}
		</th>
		<td>
			@foreach (var todo in Model)
			{
				<p>@todo.Description</p>
			}
		</td>
		<td>
			@foreach (var todo in Model)
			{
				<p>
					<a class="btn btn-default btn-xs" href="@Url.Action("ViewOneItem", "ToDo", new { id = todo.TaskId})" role="button">View</a>
					<a class="btn btn-warning btn-xs" asp-action="Edit" asp-route-id="@todo.TaskId">Edit</a>
					<a class="btn btn-primary btn-xs" href="@Url.Action("Delete", "ToDo", new {entityNameToRemove = todo.ShortName})" role="button">Delete</a>
				</p>
			}
		</td>
	</tr>
	</tbody>
</table>
	
<p>
	<a class="btn btn-success" href="@Url.Action("New", "ToDo" )" role="button">Create New</a>
</p>

</body>
</html>